<div class="catalog">
    {% element 'snippets/breadcrumb' %} 
    
    {% if settings.show_filters_sidebar %}
        <aside id="category-filter" class="catalog-filter">
            <div class="filter-header u-mobile">
                Filtros
                <button class="filter-close" data-toggle="close" aria-label="Fechar" title="Fechar">
                    <span class="icon-exit" aria-hidden="true"></span>
                </button>
            </div>
            {% if products | length > 0 %} 
                {% element 'smartfilter' %} 
            {% endif %}
        </aside>
    {% endif %}

    <section class="catalog-section">
        <header class="catalog-header">
            <h1 class="catalog-title">{{ category.name }}</h1>


            
            {% if products | length > 0 %}
                <div class="catalog-listRefinement">
                    <div class="toggle-visualization" onclick="handleClickToggle()">
                        <svg class="svg-column-vis" version="1.0" xmlns="http://www.w3.org/2000/svg"
                            width="25.000000pt" height="25.000000pt" viewBox="0 0 50.000000 50.000000"
                            preserveAspectRatio="xMidYMid meet">
                            <g transform="translate(0.000000,50.000000) scale(0.100000,-0.100000)"
                            fill="#000000" stroke="none">
                            <path d="M40 250 l0 -210 110 0 110 0 0 210 0 210 -110 0 -110 0 0 -210z m200
                            0 l0 -190 -90 0 -90 0 0 190 0 190 90 0 90 0 0 -190z"/>
                            <path d="M80 320 c0 -5 5 -10 10 -10 6 0 10 5 10 10 0 6 -4 10 -10 10 -5 0
                            -10 -4 -10 -10z"/>
                            <path d="M120 320 c0 -5 5 -10 10 -10 6 0 10 5 10 10 0 6 -4 10 -10 10 -5 0
                            -10 -4 -10 -10z"/>
                            <path d="M160 320 c0 -5 5 -10 10 -10 6 0 10 5 10 10 0 6 -4 10 -10 10 -5 0
                            -10 -4 -10 -10z"/>
                            <path d="M200 320 c0 -5 5 -10 10 -10 6 0 10 5 10 10 0 6 -4 10 -10 10 -5 0
                            -10 -4 -10 -10z"/>
                            <path d="M80 180 c0 -5 5 -10 10 -10 6 0 10 5 10 10 0 6 -4 10 -10 10 -5 0
                            -10 -4 -10 -10z"/>
                            <path d="M120 180 c0 -5 5 -10 10 -10 6 0 10 5 10 10 0 6 -4 10 -10 10 -5 0
                            -10 -4 -10 -10z"/>
                            <path d="M160 180 c0 -5 5 -10 10 -10 6 0 10 5 10 10 0 6 -4 10 -10 10 -5 0
                            -10 -4 -10 -10z"/>
                            <path d="M200 180 c0 -5 5 -10 10 -10 6 0 10 5 10 10 0 6 -4 10 -10 10 -5 0
                            -10 -4 -10 -10z"/>
                            <path d="M280 450 c0 -5 5 -10 10 -10 6 0 10 5 10 10 0 6 -4 10 -10 10 -5 0
                            -10 -4 -10 -10z"/>
                            <path d="M320 450 c0 -5 5 -10 10 -10 6 0 10 5 10 10 0 6 -4 10 -10 10 -5 0
                            -10 -4 -10 -10z"/>
                            <path d="M360 450 c0 -5 5 -10 10 -10 6 0 10 5 10 10 0 6 -4 10 -10 10 -5 0
                            -10 -4 -10 -10z"/>
                            <path d="M400 450 c0 -5 5 -10 10 -10 6 0 10 5 10 10 0 6 -4 10 -10 10 -5 0
                            -10 -4 -10 -10z"/>
                            <path d="M440 450 c0 -5 5 -10 10 -10 6 0 10 5 10 10 0 6 -4 10 -10 10 -5 0
                            -10 -4 -10 -10z"/>
                            <path d="M440 410 c0 -5 5 -10 10 -10 6 0 10 5 10 10 0 6 -4 10 -10 10 -5 0
                            -10 -4 -10 -10z"/>
                            <path d="M440 370 c0 -5 5 -10 10 -10 6 0 10 5 10 10 0 6 -4 10 -10 10 -5 0
                            -10 -4 -10 -10z"/>
                            <path d="M440 330 c0 -5 5 -10 10 -10 6 0 10 5 10 10 0 6 -4 10 -10 10 -5 0
                            -10 -4 -10 -10z"/>
                            <path d="M280 320 c0 -5 5 -10 10 -10 6 0 10 5 10 10 0 6 -4 10 -10 10 -5 0
                            -10 -4 -10 -10z"/>
                            <path d="M320 320 c0 -5 5 -10 10 -10 6 0 10 5 10 10 0 6 -4 10 -10 10 -5 0
                            -10 -4 -10 -10z"/>
                            <path d="M360 320 c0 -5 5 -10 10 -10 6 0 10 5 10 10 0 6 -4 10 -10 10 -5 0
                            -10 -4 -10 -10z"/>
                            <path d="M400 320 c0 -5 5 -10 10 -10 6 0 10 5 10 10 0 6 -4 10 -10 10 -5 0
                            -10 -4 -10 -10z"/>
                            <path d="M440 290 c0 -5 5 -10 10 -10 6 0 10 5 10 10 0 6 -4 10 -10 10 -5 0
                            -10 -4 -10 -10z"/>
                            <path d="M440 250 c0 -5 5 -10 10 -10 6 0 10 5 10 10 0 6 -4 10 -10 10 -5 0
                            -10 -4 -10 -10z"/>
                            <path d="M440 210 c0 -5 5 -10 10 -10 6 0 10 5 10 10 0 6 -4 10 -10 10 -5 0
                            -10 -4 -10 -10z"/>
                            <path d="M280 180 c0 -5 5 -10 10 -10 6 0 10 5 10 10 0 6 -4 10 -10 10 -5 0
                            -10 -4 -10 -10z"/>
                            <path d="M320 180 c0 -5 5 -10 10 -10 6 0 10 5 10 10 0 6 -4 10 -10 10 -5 0
                            -10 -4 -10 -10z"/>
                            <path d="M360 180 c0 -5 5 -10 10 -10 6 0 10 5 10 10 0 6 -4 10 -10 10 -5 0
                            -10 -4 -10 -10z"/>
                            <path d="M400 180 c0 -5 5 -10 10 -10 6 0 10 5 10 10 0 6 -4 10 -10 10 -5 0
                            -10 -4 -10 -10z"/>
                            <path d="M440 170 c0 -5 5 -10 10 -10 6 0 10 5 10 10 0 6 -4 10 -10 10 -5 0
                            -10 -4 -10 -10z"/>
                            <path d="M440 130 c0 -5 5 -10 10 -10 6 0 10 5 10 10 0 6 -4 10 -10 10 -5 0
                            -10 -4 -10 -10z"/>
                            <path d="M440 90 c0 -5 5 -10 10 -10 6 0 10 5 10 10 0 6 -4 10 -10 10 -5 0
                            -10 -4 -10 -10z"/>
                            <path d="M280 50 c0 -5 5 -10 10 -10 6 0 10 5 10 10 0 6 -4 10 -10 10 -5 0
                            -10 -4 -10 -10z"/>
                            <path d="M320 50 c0 -5 5 -10 10 -10 6 0 10 5 10 10 0 6 -4 10 -10 10 -5 0
                            -10 -4 -10 -10z"/>
                            <path d="M360 50 c0 -5 5 -10 10 -10 6 0 10 5 10 10 0 6 -4 10 -10 10 -5 0
                            -10 -4 -10 -10z"/>
                            <path d="M400 50 c0 -5 5 -10 10 -10 6 0 10 5 10 10 0 6 -4 10 -10 10 -5 0
                            -10 -4 -10 -10z"/>
                            <path d="M440 50 c0 -5 5 -10 10 -10 6 0 10 5 10 10 0 6 -4 10 -10 10 -5 0
                            -10 -4 -10 -10z"/>
                            </g>
                        </svg>
                        <svg class="svg-row-vis" version="1.0" xmlns="http://www.w3.org/2000/svg"
                            width="25.000000pt" height="25.000000pt" viewBox="0 0 50.000000 50.000000"
                            preserveAspectRatio="xMidYMid meet">
                            <g transform="translate(0.000000,50.000000) scale(0.100000,-0.100000)"
                            fill="#000000" stroke="none">
                            <path d="M40 390 l0 -70 210 0 210 0 0 70 0 70 -210 0 -210 0 0 -70z m400 0
                            l0 -50 -190 0 -190 0 0 50 0 50 190 0 190 0 0 -50z"/>
                            <path d="M240 410 c0 -5 5 -10 10 -10 6 0 10 5 10 10 0 6 -4 10 -10 10 -5 0
                            -10 -4 -10 -10z"/>
                            <path d="M240 370 c0 -5 5 -10 10 -10 6 0 10 5 10 10 0 6 -4 10 -10 10 -5 0
                            -10 -4 -10 -10z"/>
                            <path d="M40 290 c0 -5 5 -10 10 -10 6 0 10 5 10 10 0 6 -4 10 -10 10 -5 0
                            -10 -4 -10 -10z"/>
                            <path d="M240 290 c0 -5 5 -10 10 -10 6 0 10 5 10 10 0 6 -4 10 -10 10 -5 0
                            -10 -4 -10 -10z"/>
                            <path d="M440 290 c0 -5 5 -10 10 -10 6 0 10 5 10 10 0 6 -4 10 -10 10 -5 0
                            -10 -4 -10 -10z"/>
                            <path d="M40 250 c0 -5 5 -10 10 -10 6 0 10 5 10 10 0 6 -4 10 -10 10 -5 0
                            -10 -4 -10 -10z"/>
                            <path d="M240 250 c0 -5 5 -10 10 -10 6 0 10 5 10 10 0 6 -4 10 -10 10 -5 0
                            -10 -4 -10 -10z"/>
                            <path d="M440 250 c0 -5 5 -10 10 -10 6 0 10 5 10 10 0 6 -4 10 -10 10 -5 0
                            -10 -4 -10 -10z"/>
                            <path d="M40 210 c0 -5 5 -10 10 -10 6 0 10 5 10 10 0 6 -4 10 -10 10 -5 0
                            -10 -4 -10 -10z"/>
                            <path d="M240 210 c0 -5 5 -10 10 -10 6 0 10 5 10 10 0 6 -4 10 -10 10 -5 0
                            -10 -4 -10 -10z"/>
                            <path d="M440 210 c0 -5 5 -10 10 -10 6 0 10 5 10 10 0 6 -4 10 -10 10 -5 0
                            -10 -4 -10 -10z"/>
                            <path d="M80 180 c0 -5 5 -10 10 -10 6 0 10 5 10 10 0 6 -4 10 -10 10 -5 0
                            -10 -4 -10 -10z"/>
                            <path d="M120 180 c0 -5 5 -10 10 -10 6 0 10 5 10 10 0 6 -4 10 -10 10 -5 0
                            -10 -4 -10 -10z"/>
                            <path d="M160 180 c0 -5 5 -10 10 -10 6 0 10 5 10 10 0 6 -4 10 -10 10 -5 0
                            -10 -4 -10 -10z"/>
                            <path d="M200 180 c0 -5 5 -10 10 -10 6 0 10 5 10 10 0 6 -4 10 -10 10 -5 0
                            -10 -4 -10 -10z"/>
                            <path d="M280 180 c0 -5 5 -10 10 -10 6 0 10 5 10 10 0 6 -4 10 -10 10 -5 0
                            -10 -4 -10 -10z"/>
                            <path d="M320 180 c0 -5 5 -10 10 -10 6 0 10 5 10 10 0 6 -4 10 -10 10 -5 0
                            -10 -4 -10 -10z"/>
                            <path d="M360 180 c0 -5 5 -10 10 -10 6 0 10 5 10 10 0 6 -4 10 -10 10 -5 0
                            -10 -4 -10 -10z"/>
                            <path d="M400 180 c0 -5 5 -10 10 -10 6 0 10 5 10 10 0 6 -4 10 -10 10 -5 0
                            -10 -4 -10 -10z"/>
                            <path d="M40 170 c0 -5 5 -10 10 -10 6 0 10 5 10 10 0 6 -4 10 -10 10 -5 0
                            -10 -4 -10 -10z"/>
                            <path d="M240 170 c0 -5 5 -10 10 -10 6 0 10 5 10 10 0 6 -4 10 -10 10 -5 0
                            -10 -4 -10 -10z"/>
                            <path d="M440 170 c0 -5 5 -10 10 -10 6 0 10 5 10 10 0 6 -4 10 -10 10 -5 0
                            -10 -4 -10 -10z"/>
                            <path d="M40 130 c0 -5 5 -10 10 -10 6 0 10 5 10 10 0 6 -4 10 -10 10 -5 0
                            -10 -4 -10 -10z"/>
                            <path d="M240 130 c0 -5 5 -10 10 -10 6 0 10 5 10 10 0 6 -4 10 -10 10 -5 0
                            -10 -4 -10 -10z"/>
                            <path d="M440 130 c0 -5 5 -10 10 -10 6 0 10 5 10 10 0 6 -4 10 -10 10 -5 0
                            -10 -4 -10 -10z"/>
                            <path d="M40 90 c0 -5 5 -10 10 -10 6 0 10 5 10 10 0 6 -4 10 -10 10 -5 0 -10
                            -4 -10 -10z"/>
                            <path d="M240 90 c0 -5 5 -10 10 -10 6 0 10 5 10 10 0 6 -4 10 -10 10 -5 0
                            -10 -4 -10 -10z"/>
                            <path d="M440 90 c0 -5 5 -10 10 -10 6 0 10 5 10 10 0 6 -4 10 -10 10 -5 0
                            -10 -4 -10 -10z"/>
                            <path d="M40 50 c0 -5 5 -10 10 -10 6 0 10 5 10 10 0 6 -4 10 -10 10 -5 0 -10
                            -4 -10 -10z"/>
                            <path d="M80 50 c0 -5 5 -10 10 -10 6 0 10 5 10 10 0 6 -4 10 -10 10 -5 0 -10
                            -4 -10 -10z"/>
                            <path d="M120 50 c0 -5 5 -10 10 -10 6 0 10 5 10 10 0 6 -4 10 -10 10 -5 0
                            -10 -4 -10 -10z"/>
                            <path d="M160 50 c0 -5 5 -10 10 -10 6 0 10 5 10 10 0 6 -4 10 -10 10 -5 0
                            -10 -4 -10 -10z"/>
                            <path d="M200 50 c0 -5 5 -10 10 -10 6 0 10 5 10 10 0 6 -4 10 -10 10 -5 0
                            -10 -4 -10 -10z"/>
                            <path d="M240 50 c0 -5 5 -10 10 -10 6 0 10 5 10 10 0 6 -4 10 -10 10 -5 0
                            -10 -4 -10 -10z"/>
                            <path d="M280 50 c0 -5 5 -10 10 -10 6 0 10 5 10 10 0 6 -4 10 -10 10 -5 0
                            -10 -4 -10 -10z"/>
                            <path d="M320 50 c0 -5 5 -10 10 -10 6 0 10 5 10 10 0 6 -4 10 -10 10 -5 0
                            -10 -4 -10 -10z"/>
                            <path d="M360 50 c0 -5 5 -10 10 -10 6 0 10 5 10 10 0 6 -4 10 -10 10 -5 0
                            -10 -4 -10 -10z"/>
                            <path d="M400 50 c0 -5 5 -10 10 -10 6 0 10 5 10 10 0 6 -4 10 -10 10 -5 0
                            -10 -4 -10 -10z"/>
                            <path d="M440 50 c0 -5 5 -10 10 -10 6 0 10 5 10 10 0 6 -4 10 -10 10 -5 0
                            -10 -4 -10 -10z"/>
                            </g>
                        </svg>
                    </div>


                    <div class="results">
                        Resultado: <b>{{ paginate.params.count }} produto(s)</b> em
                        <b>{{ paginate.params.pageCount }} p&aacute;gina(s)</b>
                    </div>
                    <div class="listFilter">{% element 'snippets/filter' %}</div>
                    

                    <button class="filter-button u-mobile button4" data-toggle="closed" data-target="#category-filter">
                        Filtro de Produtos
                    </button>

                    {% if settings.compare %}
                        <button class="compare-button">
                            <a href="/loja/comparador.php?loja={{store.id}}&IdDep={{category.id}}" class="button2">
                                {{ Translation("comparar_produto") }}
                            </a>
                        </button>
                    {% endif %}
                </div>
            {% endif %}
        </header>

        {% if products | length > 0 %}
            <div class="catalog-content">
                {% element 'catalog-showcase' { "products": products } %}
            </div>
            <footer class="catalog-footer">
                {% if paginate.params.pageCount > 1 %} 
                    {% element 'snippets/pagination' %} 
                {% endif %}
            </footer>

        {% else %}
            <p class="catalog-empty">
                {{ Translation('nenhum_resultado') }} :(
            </p>
        {% endif %}
    </section>
                
    {% if category.small_description %}
    <div class="catalog-description">{{ category.small_description }}</div>
{% endif %} 
</div>
<script>
    let toggleActive = false;
    let togleCounter = 0;
    const $toggleButton = document.querySelector(".toggle-visualization");
    const $divSwitch = document.querySelector(".showcase-listProduct");
    const $svgColumn = document.querySelector(".svg-column-vis");
    const $svgRow = document.querySelector(".svg-row-vis");

    
    function setRow() {
        $divSwitch.classList.add("row-visualization");
        $divSwitch.classList.remove("column-visualization");
        $svgRow.style.display = "block";
        $svgColumn.style.display = "none";
    };

    function setColumn() {
        $divSwitch.classList.add("column-visualization");
        $divSwitch.classList.remove("row-visualization");
        $svgColumn.style.display = "block";
        $svgRow.style.display = "none";
    }
    
    function handleClickToggle() {
        if (togleCounter < 1) {
            setColumn(); 
            togleCounter++
            return
        }
        togleCounter++
        toggleActive = !toggleActive;
        console.log(toggleActive);
        if (!document.querySelector(".row-visualization")) {
            setRow();            
        }
        else {
            setColumn();        
        }
    }
</script>