{# {% element 'snippets/regua' {
    'text': "FRETE GRÁTIS - Acima de R$ 100,00"
} %} #}
{% element 'snippets/banner-line' { 'banner_id': 'home', 'banner_type': 'slides' } %} 

{% if settings.show_variation_busca_variant %}
       {% element 'snippets/filter-variant' %}
    <!--
    <div class="filter-by-variant {{ settings.show_variation_tamanho and settings.show_variation_cor ? "ambos" : "unico"}} section">
        <div class="title-variant-search">
            {% if settings.show_variation_tamanho %}
                <span class="text-variant-tamanho">ESCOLHA POR TAMANHO</span>
            {% endif %}
            {% if settings.show_variation_cor %}
                <span class="text-variant-cor {{ settings.show_variation_tamanho ? "not-active-variant" : "" }} ">ESCOLHA POR COR</span>
            {% endif %}
        </div>    
            {% if settings.show_variation_tamanho %}
            <div class="wrapper-variant-search tamanho-variant">
                    <div class="container-variant-tamanho-search"></div>
            </div>
            {% endif %}
            
            {% if settings.show_variation_cor %}
                <div class="wrapper-variant-search cor-variant {{ settings.show_variation_tamanho ? "hidden" : "" }}">
                    <div class="container-variant-cor-search"></div>
                </div>
            {% endif %}

    </div>
    -->
{% endif %}



<div class="section">
    {% element 'snippets/top-categorias' %}
</div>
{# {% element 'snippets/banner-triplo' %} #}
{% element 'snippets/banner-cinco' %}


{% element 'home-showcase' { 
    'rand' : settings.showcase_rand_products, 
    'type' : settings.showcase_type_1, 
    'quantity' : settings.showcase_quantity_1 
} %} 

<div class="section">
    {% element 'snippets/banner-duplo' %}
</div>


{% element 'home-showcase' { 
    'rand' : settings.showcase_rand_products, 
    'type' : settings.showcase_type_2, 
    'quantity' : settings.showcase_quantity_2 ,
    'especial' : "vitrine-especial"
} %} 
{% element 'home-showcase' { 
    'rand' : settings.showcase_rand_products, 
    'type' : settings.showcase_type_1, 
    'quantity' : settings.showcase_quantity_1 
} %} 

{% for pages in pages.custom %} 
    {% if pages.info == "depoimentos_de_clientes" and settings.show_reviews %}
        <section class="section reviews" data-slides="reviews">
            <h2 class="section-title">Depoimentos</h2>
            <div class="reviews-container">
                {% element 'CustomerReview.reviews' %}
                <button class="reviews-button">
                    <a class="button2" href="/depoimentos-de-clientes" title="Ver mais depoimentos" rel="next" target="_self">
                        Ver mais depoimentos
                    </a>
                </button>
            </div>
        </section>
    {% endif %} 
{% endfor %} 
    {% if settings.show_blog %}
        {% for page in pages.custom %}
            {% if page.info == "noticias" %}
                <section class="section news slide-has-dots">
                    <div class="news section-header">
                        <span class="section-subtitle">{{ settings.title_top_blog }}</span>
                        <h2 class="section-title">{{ settings.title_bottom_blog }}</h2>
                    </div>
                    <div class="news-container">
                        <ul class="news-content"></ul>
                        {% if settings.show_button_vermais_blog %}
                            <button class="button-show">
                                <a href="{{ page.url }}"  title="Ver mais notícias" rel="next" target="_self">
                                    Ver mais
                                </a>
                            </button>
                        {% endif %}
                    </div>
                </section>
            {% endif %} 
        {% endfor %}
               
    {% endif %}


{% element 'snippets/banner-line' { 'banner_id': 'bottom', 'banner_type': 'container' } %}
{# {% element 'snippets/banner-unico' %} #}
{% if settings.show_carroussel_brands %}
    {% element 'snippets/brands-list' %} 
    
{% endif %} 

{# <section class="section tagCloud">
    <h2 class="section-title">{{ Translation('tags_mais_buscadas') }}</h2>
    <ul class="tagCloud-list">
        {% for tag in tags %}
            <li class="tagCloud-item">
                <a class="tagCloud-word" href="{{ tag.url }}" rel="next" target="_self">{{ tag.word }}</a>
            </li>
        {% endfor %}
    </ul>
</section> #}


{#
  # Noticias com imagem
#}
{# 
{% for pages in pages.custom %}
    {% if pages.info == "noticias" %}
    <div class="section-notices">
        <h2 class="title-section">
            <a href="/loja/busca_noticias.php">
                <span>Confira Nossas Notícias</span>
            </a>
        </h2>
        <div class="noticias-content">
        </div>
    </div>
    {% endif %}
{% endfor %}  #}

