.page-busca_noticias {
    .Seguro {
        display: none;
    }

    .breadcrumb {
        margin: 2rem 0 0 0;
    }

    // List News
    #listaCategoriasNoticias {
        a {
            display: block;
            position: relative;
            width: inherit;
        }

        h1 {
            @include title-h1;
            display: block;
            transition: $transit_default;
            opacity: 1;

            &::before {
                bottom: -2rem;
                content: 'Clique para ver todas as Noticias';
                color: var(--c_general_secondary);
                font-size: 1.2rem;
                visibility: hidden;
                opacity: 0;
                position: absolute;
                transition: $transit_default;
            }

            &:hover {
                opacity: 0.8;

                &::before {
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
    }

    .noticias {
        li {
            @extend %flex;
            background-color: var(--c_general_details);
            border-radius: 0.5rem;
            margin-top: 1rem;
            padding: 2.5rem;

            @include small {
                padding: 1.5rem;
            }
            @include medium {
                padding: 2.5rem;
            }
            @include large {
                padding: 2.5rem;
            }
        }

        #noticia_imagem {
            //margin-right: 1.5rem;
            width: auto;
            img {
                max-width: 240px;
                height: auto;

                // @include small {
                //     max-width: 80px;
                // }
                // @include medium {
                //     max-width: 108px;
                // }
                // @include large {
                //     max-width: 108px;
                // }
            }
        }

        #noticia_dados {
            h3 {
                @extend %flex-colun;
                @extend %paragraph-bold-text;
                margin-bottom: 0.5rem;
                position: relative;

                &::before {
                    content: '';
                    background-color: var(--c_general_details);
                    width: 30px;
                    height: 1rem;
                    position: absolute;
                    top: 0;
                    left: 4.8em;
                }

                a {
                    @extend %subtitle-h3;
                }
            }

            p {
                @extend %paragraph-text;
            }
        }

        #noticia_dados,
        #noticia_imagem {
            a {
                opacity: 1;
                transition: $transit_default;

                &:hover {
                    opacity: 0.6;
                }
            }
        }
    }

    // Page ALL News - Result
    .board {
        h1 {
            @include title-h1;
            margin: 2.5rem 0 0 0;
        }

        ~ hr {
            display: none;
        }

        b {
            @include link-bold;
        }

        .right {
            display: none;
            margin-top: 2.5rem;

            &:only-child {
                display: flex;
            }
        }
    }
}
#noticia_imagem {
    //margin-right: 1.5rem;
    width: auto;
    img {
        max-width: 240px;
        height: auto;

        // @include small {
        //     max-width: 80px;
        // }
        // @include medium {
        //     max-width: 108px;
        // }
        // @include large {
        //     max-width: 108px;
        // }
    }
}
#noticia_dados {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
#noticia_dados p {
    display: none;
}
.news-item h3 {
    font-size: 0;
    padding-bottom: 1rem;
}
.news-item h3 a {
    font-weight: 500;
    font-size: 1.25rem;

}
#noticia_dados h3 a::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}