.banner-duplo {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 16px;
    
    img {
        width: 100%;
    }
}

.content-txt {
    display: flex;
    flex-direction: column;

    span {
        font-size: 0.875rem;
    }
    
    strong {
        font-size: 1.5rem;
        font-weight: 600;
    }

    button {
        display: flex;
        padding: 18px;
        justify-content: center;
        align-items: center;
        border-radius: 2px;
        background: #1F2228;
        color: #fff;
        max-width: 55%;
        margin: 32px 0;
        font-weight: 400;
        font-size: 1rem;

    }
}

@media (min-width: 790px) {
    .banner-duplo {
        display: flex;
        flex-direction: row;
        justify-content: center;

    }

    .container-txt-img {
        display: flex;
        align-items: flex-end;

    }

    .content-txt {
        padding-bottom: 44px;
        width: 25vw;
        margin-right: 12px;
        
        button {
            max-width: 90%;
        }
    }
}

@media (min-width: 936px) {
    .content-txt button {        
            max-width: 65%;        
    }
}

@media (min-width: 1024px) {
    .content-txt {

        span {
            font-size: 1.125rem;
        }
        
        strong {
            font-size: 1.875rem;
        }

        button {
            max-width: 65%;
        }
    }
}