.banner-cinco {
    img {
        max-width: 600px;
        max-height: 520px;
    }
    display: flex;
    gap: 8px;
    &-left {
        width: 50%;
        a {
            display: flex;
            height: 100%;
        }
        img {
            width: 100%;
        }
    }
    &-right {
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        a {
            display: flex;
            width: 50%;
        }
        img {
            width: 100%;
        }
    }
    &-wrapper {
        display: flex;
        gap: 8px;
    }
}

@media (max-width:680px) {
    .banner-cinco {
        flex-direction: column;
        width: auto;
        &-left {
            width: auto;
        }
        &-right {
            width: auto;
        }
        &-right a {
            width: 50%;
            display: flex;
        }
    }   
}