.brands {
    &-list {
        @extend %flex-betw-center;
        @include fontInsert(1.5, 500, var(--c_general_text2));
        cursor: grab;
    }

    &-item {
        @extend %flex-center-center;
        min-height: 10rem;
    }

    &-title {
        line-height: 0.9;
        word-break: break-word;
        width: 100%;
    }

    &-titulo {
        font-size: 1.375rem;
        font-weight: 500;
        display: flex;
        justify-content: center;
    }

    .icon-tag {
        @extend %flex-center-center;
        margin-right: 0.6rem;
    }
}


    .brands .img-marca {
        max-width: 150px;
    }
    .brands .titulo {
        display: flex;
        justify-content: center;
        align-items: center;
    }