.new-newsletter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 290px;
    background-color: var(--bg_newsletter);
    color: var(--c_container_newsletter);
    padding: 24px 10px;

    &-text {
        display: flex;
        flex-direction: column;
        & .text {
            gap: 8px;
            &-paragraph {
                text-align: center;
            }
            &-emphasis {
                color: var(--c_container_newsletter);;
                text-align: center;
                font-size: 2rem;
                font-weight: 600;
            }
        }
     }
     & .newsletter-wrapper {
        display: flex;
        gap: 9px;
        
        &-email {
            width: 504px;
            height: 48px;
            padding: 12px 16px;
            border-radius: 4px;
            background: #FFF;
            color: var(--c_general_main);
        }
     }
}

@media(max-width: 900px) {
    .new-newsletter {
        flex-direction: column;
        gap: 24px !important;

 }
}
@media(max-width: 1400px) {
    .new-newsletter {
        gap: 100px;

 }
 .new-newsletter .newsletter-wrapper-email {
    width: 100%;
    padding: 1rem;
}
}

