.regua-icons {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 10px;
    overflow: hidden;

    &-containers {
        display: flex !important;
    }
    &-texts {
        display: flex;
        flex-direction: column;
    }
}