.regua-container {
    background-color: var(--c_regua_superior_bg);
    padding: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--ct_regua_superior);
    font-size: 0.75rem;
    
//     span:nth-child(1), span:nth-child(3) {
//        display: none;
//    }
}
.regua-container-inferior {
    background-color: var(--c_regua_inferior_bg);
    padding: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--ct_regua_inferior);
    font-size: 0.75rem;
    
//     span:nth-child(1), span:nth-child(3) {
//        display: none;
//    }
}

// @media(min-width:480px) {
//     .regua-container {
//         span:nth-child(1) {
//             display: block;
//         }    
//     }
//     .regua-container-inferior {
//         span:nth-child(1) {
//             display: block;
//         }    
//     }
// }
// @media(min-width:720px) {
//     .regua-container-inferior {
//         span:nth-child(3) {
//             display: block;
//         }    
//     }
// }