{% if banners.extra9 and banners.extra10 %}
<div class="banner-duplo">
    <div class="container-txt-img">
        <div class="content-txt">
            <strong>{{ settings.title_banner_txt }}</strong>
            <span>{{ settings.subtitle_banner_txt }}</span>
            <span>{{ settings.desc_banner_txt}}</span>
            <a href="{{ settings.link_banner_txt }}"><button>Confira!</button></a>
        </div>
        <div class="content-img">
            {% if banners.extra9.link %}
                <a href="{{ banners.extra9.link }}" target="{{ banners.extra9.target }}">
                    <img loading="lazy" src="{{ banners.extra9.src }}" alt="{{ banners.extra9.img_alt }}">
                </a>
            {% else %}
                <img loading="lazy" src="{{ banners.extra9.src }}" alt="{{ banners.extra9.img_alt }}">
            {% endif %}
        </div>
    </div>
    <div class="container-img">
        {% if banners.extra10.link %}
            <a href="{{ banners.extra10.link }}" target="{{ banners.extra10.target }}">
                <img loading="lazy" src="{{ banners.extra10.src }}" alt="{{ banners.extra10.img_alt }}">
            </a>
        {% else %}
            <img loading="lazy" src="{{ banners.extra10.src }}" alt="{{ banners.extra10.img_alt }}">
        {% endif %}
    </div>
</div>
{% endif %}