<aside id="menu-mobile" class="menuMobile">
    <div class="menuMobile-title">
        <span class="icon-menu" aria-hidden="true"></span>
        Menu

        <button class="menuMobile-close" data-toggle="close" aria-label="Fechar" title="Fechar">
            <span class="icon-exit" aria-hidden="true"></span>
        </button>
    </div>
{% set phone = Translation('ag_telefone_1') %} 


    <div class="menuMobile-account">
        <div class="tray-hide account-item logged" data-logged-user="true">
            <button class="account-button" data-toggle="account">
                <span class="account-text">Ol&aacute;, <span data-customer="name"></span></span>
                <span class="icon-arrow-simple" aria-hidden="true"></span>
            </button>
            <div class="account-access">
                <span class="icon-account" aria-hidden="true"></span>
                <a class="account-link" href="{{ links.central }}" title="Minha Conta"> Minha conta </a>
                <span class="account-separator">/</span>
                <a class="account-link" href="{{ links.logout }}" title="Sair">Sair</a>
            </div>
        </div>
        <div class="tray-hide account-item loggedout" data-logged-user="false">
            <button class="account-button" data-toggle="account">
                <span class="account-text">Minha Conta</span>
                <span class="icon-arrow-simple" aria-hidden="true"></span>
            </button>
            <div class="account-access">
                <span class="icon-account" aria-hidden="true"></span>
                <a class="account-link" href="{{ links.login }}" title="Entrar">Entrar</a>
                <span class="account-separator">/</span>
                <a class="account-link" href="{{ links.register }}" title="Cadastrar">Cadastrar</a>
            </div>
        </div>
    </div>

    <div class="menuMobile-content">
        <nav class="menuMobile-menu">
            <ul class="menu-list">

                {% for category in categories %}
                    <li class="menu-firstLevel  {{ category.children ? 'subList' }}">
                        <div id="priscila" class="menu-link-div">{{ category.name }}</div>

                        {% if category.children %}
                            <ul class="menu-secondLevel">
                                {% for level2 in category.children %}
                                <a class="menu-link" href="{{ category.link }}">{{ category.name }}</a>
                                    <li {% if level2.children %} class="sub" {% endif %}>
                                        <a class="menu-link" href="{{ level2.link }}">{{ level2.name }}</a>

                                        {% if level2.children %}
                                            <ul class="menu-thirdLevel">
                                                {% for level3 in level2.children %}
                                                    <li>
                                                        <a class="menu-link" href="{{ level3.link }}">{{ level3.name }}</a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>

        </nav>
    </div>
    <div>

        <div class="wrapper-atendimento">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                <path d="M8.45629 19.3062L11.9564 17.8061C12.1059 17.7424 12.272 17.729 12.4299 17.7679C12.5877 17.8068 12.7286 17.8959 12.8314 18.0218L14.3814 19.9155C16.814 18.7686 18.7717 16.8109 19.9187 14.3783L18.0249 12.8282C17.8987 12.7256 17.8095 12.5847 17.7705 12.4268C17.7316 12.269 17.7452 12.1027 17.8093 11.9532L19.3093 8.45316C19.3796 8.29204 19.5039 8.16048 19.6608 8.08119C19.8176 8.00189 19.9973 7.97982 20.1687 8.01878L23.4187 8.76879C23.584 8.80696 23.7314 8.90001 23.837 9.03276C23.9426 9.16551 24 9.33013 24 9.49974C24 17.5155 17.503 24 9.49975 24C9.33008 24.0001 9.16539 23.9427 9.03258 23.8371C8.89976 23.7315 8.80666 23.584 8.76849 23.4187L8.01847 20.1687C7.97976 19.9964 8.0023 19.8161 8.08221 19.6587C8.16212 19.5012 8.2944 19.3766 8.45629 19.3062Z" fill="#1F2228"/>
              </svg>
              <div>
                  <span>Atendimento</span>
                  <a
                      target="_blank"
                      rel="noopener noreferrer"
                      class="contact-item"
                      href="https://wa.me/555581090557?text=vim+do+site+para+falar+sobre+f%C3%B3rmulas+personalizadas"
                      title="Telefone: {{ phone }}"
                  >
                      {# <span class="icon-phone" aria-hidden="true"></span> #}
                      {{ phone }}
                  </a>
              </div>

        </div>
    </div>
</aside>

<style>
    .menuMobile  .menu-secondLevel{
        display: none;
        animation: apear 0.3s ease-in-out;
    }
    
    @keyframes apear {
        from{
            opacity: 0;
        }
    
        to{
            opacity: 1;
        }
    }
    
    .menuMobile .menu-firstLevel{
        width: 90%;
        
    }
    
    .menuMobile  .menu-link-div{
        display: flex;
        justify-content: space-between;
    }
    
    .enable-mobile::after{
        content: "+";
    }
    
    .disable-mobile::after{
        content: "-";
    }
</style>

<script>

        document.querySelectorAll('.menuMobile  .menu-firstLevel.subList').forEach(itemMenu => {
//        if(!itemMenu.querySelector('.menu-link-div')) {
  //          console.error('Houve um problema  na selecao menu-link-div');
    //        return null;
      //  }
        let itemDiv = itemMenu.querySelector('.menu-link-div');
        //let itemDiv = document.getElementById('priscila');

        itemDiv.classList.add('enable-mobile');
        
        itemMenu.addEventListener('click', (event) => {
           
            // Obter o submenu correspondente ao item clicado
            let subMenu = itemMenu.querySelector('.menu-secondLevel');
    
            // Verificar se o submenu existe
            if (subMenu) {
                // Se o submenu estiver aberto, fechá-lo
                if (subMenu.style.display === "block") {
                    itemDiv.classList.remove('disable-mobile');
                    itemDiv.classList.add('enable-mobile');
                    subMenu.style.display = "none";

                } else {
                    // Fechar todos os outros submenus
                    document.querySelectorAll('.menu-secondLevel').forEach(subItemMenu => {
                        subItemMenu.style.display = "none";
                    });
                    itemDiv.classList.add('disable-mobile');
                    itemDiv.classList.remove('enable-mobile');
                    subMenu.style.display = "block";
                }
            }
                   
        });
    });

    
</script>

